Package: com.nahtedetihw.tapnoise
Name: TapNoise
Version: 1.0
Architecture: iphoneos-arm
Description: Toggle Noise Cancellation by tapping artwork
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate
